<h1>Please validate your registration information</h1>
<h3>If any information is incorrect please select "NO" and re-enter proper information</h3>
<p>Here is the email you entered {{user_email}}</p>
<p>Here is the first name you entered {{user_firstName}}</p>
<p>Here is the last name you entered {{user_lastName}}</p>
<!--For the password we can have a "Show Password" button -->
<p>Here is the password you entered {{user_password}}</p>

<p>Is this information correct?</p>

<form action="#" method="post">
    <input type="button" value="Yes" name="button_value">
    <input type="button" value="No" name="button_value">
</form>